<ng-container [ngTemplateOutlet]="viewMode == eViewMode.CHECKOUT ? checkout : all"></ng-container>

<ng-template #all>
	<h3>Name: {{product?.name}}</h3>
	<p>SKU: {{product?.sku}}</p>
	<p>Quantity: {{quantity}}</p>
	<button mat-button [disabled]="quantity>=10" (click)="addToBasket()">Add to basket.</button>
	<button mat-button [disabled]="quantity==0" (click)="removeFromBasket()">Remove From basket.</button>
	<p>Description: {{product?.description}}</p>
	<p>Price: {{(product?.price || 0) | currency : "GBP"}}</p>
</ng-template>

<ng-template #checkout>
	<h3>{{product?.name}}</h3>
	<p>SKU: {{product?.sku}}</p>
	<p>Description: {{product?.description}}</p>
	<mat-select [value]="quantity" (selectionChange)="modifyQuantity($event.value)" placeholder="Select quantity.">
		<mat-option *ngFor="let number of 10 | numberRange" [value] = "number">{{ number }}</mat-option>
	</mat-select>
	<p>Line Price: {{((product?.price || 0) * (quantity || 0)) | currency : "GBP"}}</p>
	<button mat-button (click)="removeFromBasket(true)">Remove.</button>
</ng-template>