<ng-container [ngTemplateOutlet]="viewMode == eViewMode.CHECKOUT ? checkout : all"></ng-container>

<ng-template #all>
	<h1>Products List</h1>

	<div *ngFor = "let product of (products | async)">
		<app-view-product [product]="product" [quantity]="quantities.has(product) ? quantities.get(product) : 0" (quantityChanged)="quantityChanged($event)"></app-view-product>
	</div>

	<p>Total of {{overallQuantity}} items</p>

	<button mat-button><a [routerLink]="['products', eViewMode.CHECKOUT]" [routerLinkActive]="['active']" [state]="{ quantities: quantities, overallQuantity: overallQuantity }">PROCEED TO CHECKOUT.</a></button>
</ng-template>

<ng-template #checkout>
	<h1>Checkout</h1>

	<div *ngFor="let product of quantities.keys()">
		<app-view-product [product]="product" [quantity]="quantities.has(product) ? quantities.get(product) : 0" (quantityChanged)="quantityChanged($event)" [viewMode]="eViewMode.CHECKOUT"></app-view-product>
	</div>

	<p>Total of {{overallQuantity}} items</p>

	<button mat-button><a [routerLink]="['products',eViewMode.ALL]" [state]="{ quantities: quantities, overallQuantity: overallQuantity }">CONTINUE SHOPPING.</a></button>
</ng-template>